<footer class="footer">
  <small>
    <a href="/">Биочистка «ОК», ООО «Биочистка ОК» ИНН 7728324420 , ОГРН 5157746147026 г. Москва, Весковский пер. 6/39 тел. +7 (977) 266-30-45</a>
  </small>
</footer>